<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/icon.ico" rel="shortcut icon">
        <link href="../static/css/app.css" rel="stylesheet" type="text/css">
        <link href="../static/css/css-loader.css" rel="stylesheet" type="text/css">
        <title>{{title}}</title>
    </head>
    <body>
        {% block page %}
        {% endblock %}
        <script src="../static/js/utils.js"></script>
        <script src="../static/js/forms.js"></script>
        <script src="../static/js/selectors.js"></script>
        <script src="../static/js/app.js"></script>
    </body>
</html>
